# Created by .ignore support plugin (hsz.mobi)

*.env
*.idea
*.pyc

# scrapyd 部署
app/build/
app/dbs/
app/eggs/
app/project.egg-info/
app/setup.py
app/twistd.pid

# 抓取记录、日志
app/items
app/logs

# supervisor 日志
logs/*.log

# 抓取队列
app/crawls

# 环境变量
app/app/config/config_mode

